{{>header}}
<!-- Dropdown Trigger -->
<div class="main">

    <div class="section">
        <div class="row">
            <div class=" col s12 m12">
                <div class="">
                    <a href="/dash" class="teal-text">Inicio ></a>
                    <a href="#!" class="teal-text"><b>Reporteria</b></a>
                </div>
            </div>
        </div>
        <div class="container">

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">import_export
                        </i>Reporte de Afiliacion</div>
                    <div class="collapsible-body"><span>Reporte de Afiliacion</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">playlist_add_check</i>Reporte de Establecimientos (Prospecto)</div>
                    <div class="collapsible-body"><span>Reporte de Establecimientos (Prospecto)</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>