{{>header}}
<div class="main">
    <div class="section">
        <div class="row">
            <div class=" col s12 m12">
                <a href="/dash" class="teal-text">Inicio ></a>
                <a href="#!" class="teal-text"><b>Buscar Establecimiento</b></a>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col s12 m12">
                                        <div class="title center">
                                            <h4>Busqueda de Establecimiento</h4>
                                        </div>

                    <div class="input-field col s10">
                        <input style="text-align: center;" placeholder="Nombre del Establecimiento" id="com_sname"
                            type="text" class="validate">
                    </div>
                    <div class="input-field col s2">
                        <button class="waves-effect waves-light btn">Buscar</button>

                    </div>
                </div>

                <div class="col s12 m12">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Establecimiento</th>
                                <th>Propietario</th>
                                <th>Num. contrato</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Taller X</td>
                                <td>Roberto Carlos</td>
                                <td>00000001</td>
                                <td>
                                    <button class="btn" ng-click=""><i class="material-icons left">edit</i>Edit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>