{{>header}}
<div class="main">
    <div class="section">
        <div class="main">
            <div class="row">
                <div class=" col s12 m12">
                    <div class="">
                        <a href="/dash" class="teal-text">Inicio ></a>
                        <a href="/perfil" class="teal-text"><b>Perfil</b></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col s12 m12">
                    <div class="card-content white-text">

                        <div class="row">
                            <div class="input-field col s4">
                                <input placeholder="0508-1991-00278" id="first_name" type="text" class="validate">
                                <label for="first_name">Identidad</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Nombre</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="disabled" type="text" class="validate">
                                <label for="disabled">Telefono</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="validate">
                                <label for="disabled">Usuario</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn"><i
                                class="material-icons left">edit</i>Modificar</button>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>