<nav  class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="center brand-logo">Logo</a>
            <ul class="right">
        <a href="/login" id="download-button" class="waves-effect waves-light btn"> iniciar sesion</a> </div>
            </ul>

                  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">SISTEMA DE AFILICIACION DE ESTABLECIMIENTOS</h1>
        <div class="row center">
            <h5 class="header col s12 light">Unete a la comunidad mas grande, que esta revoluciuonando tu forma de vender.
                Rompiendo esquemas tradicionales y que ahora forman parte de este grupo de empresarios.
            </h5>
 </div>
        <div class="row center">

    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row"><div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">sentiment_neutral</i></h2>
                <h5 class="center">Membresia Regular</h5>
        
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                    incorporate our custom components. Additionally, we refined animations and transitions to
                    provide a smoother experience for developers.</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">sentiment_satisfied</i></h2>
                <h5 class="center">Membresia Premiun</h5>
        
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                    incorporate our custom components. Additionally, we refined animations and transitions to
                    provide a smoother experience for developers.</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
                <h5 class="center">Membresia VIP</h5>
        
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                    incorporate our custom components. Additionally, we refined animations and transitions to
                    provide a smoother experience for developers.</p>
            </div>
        </div>

        </div>

    </div>
    <br><br>
</div>
{{>footer}}