{{>header}}


<div class="main" id="cuerpo">

    <div class="section">

        <div class="main">

            <div class="row">

                <div class=" col s12 m12">

                    <div class="">

                        <a href="/dash" class="teal-text">Inicio ></a>

                        <a href="/registercomer" class="teal-text"><b>Registro</b></a>

                    </div>

                </div>

            </div>

        </div>

        ​

    </div>

    <div class="container">

        <div class="row">



            <div class="title center">

                <h4>Registro de Establecimiento</h4>

            </div>

            <div class="row">

                <form id="addComercio" method="POST">

                    <div class="input-field col s12">

                        <input placeholder="Nombre del Establecimiento" name="vcomer_name" type="text"
                            value="Valor de prueba" class="validate">

                        <label for="vcomer_name">Nombre del Establecimiento</label>

                    </div>

                    <div class="input-field col s12 ">

                        <input name="vcomer_razon" type="text" placeholder="Razon Social" class="validate"
                            value="Valor de prueba">

                        <label for="vcomer_razon">Razon social</label>

                    </div>

                    <div class="input-field col s6">

                        <label>

                            <input name="bcomer_prospec" type="checkbox" />

                            <span>Prospecto</span>

                        </label>

                    </div>

                    <div class="row">

                        <div class="center input-field col s12">

                            <button type="submit" name="btn_addcomer" id="btn_addcomer" class="btn">Agregar

                                establecimiento</button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
<script src="assets/jquery.js"></script>

<script type="text/javascript" src="/js/addcomer.js"></script>

{{>footer}}


<script type="text/javascript" src="/assets/observador.js"></script>