{{>header}}

<div class="main">
    <div class="section">
        <div class="main">
            <div class="row">
                <div class=" col s12 m12">
                    <div class="">
                        <a href="/dash" class="teal-text">Inicio ></a>
                        <a href="/1002" class="teal-text">Agregar ></a>
                        <b href="#!" class="teal-text"><b>Registro</b></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="right">
                            Nombre:
                            <input type="text" name="vcomer_name" id="vcomer_name" disabled class="validate">
                            Codigo:
                            <input type="text" name="vcomer_id" id="vcomer_id" disabled class="validate">
                        </div>
                        <div class="card-content white-text">
                            <!-- HORIZONTAL STEPPER -->
                            <div class="col-md-12">
                                <div class="mdl-card__supporting-text">
                                    <div class="mdl-stepper-horizontal-alternative">
                                        <div id="stepper1" class="mdl-stepper-step active-step editable-step">
                                            <div class="mdl-stepper-circle"><span>1</span></div>
                                            <div class="mdl-stepper-title">Establecimiento</div>
                                            <div class="mdl-stepper-optional">Datos Generales </div>
                                            <div class="mdl-stepper-bar-left"></div>
                                            <div class="mdl-stepper-bar-right"></div>
                                        </div>
                                        <div id="stepper2" class="mdl-stepper-step">
                                            <div class="mdl-stepper-circle"><span>2</span></div>
                                            <div class="mdl-stepper-title">Ubicación</div>

                                            <div class="mdl-stepper-bar-left"></div>
                                            <div class="mdl-stepper-bar-right"></div>
                                        </div>
                                        <div id="stepper3" class="mdl-stepper-step">
                                            <div class="mdl-stepper-circle"><span>3</span></div>
                                            <div class="mdl-stepper-title">Finalizar</div>
                                            <div class="mdl-stepper-bar-left"></div>
                                            <div class="mdl-stepper-bar-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end HORIZONTAL STEPPER -->

                            <!-- STEPS -->
                            <div class="stepper">
                                <form id="addComercioDg" method="post">
                                    <input type="text" id="vcomer_id" name="vcomer_id" class="validate">
                                    <div id="step1" class="step">
                                        <div class="row">
                                            <div class="row">
                                                <div class="center input-field col s12">
                                                    <div class="teal-text subheader">Datos Generales</div>
                                                    <div class="divider"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <input placeholder="Nombre" id="vcomer_name" type="text"
                                                        class="validate">
                                                    <label for="vcomer_name">Nombre</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input name="icomer_employe" type="text" class="validate">
                                                    <label for="icomer_employe">Numero Empleados</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <select name="icomer_cat" class="browser-default">
                                                    </select>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input placeholder="2773-14-32" name="icomer_phone" type="text"
                                                        class="validate">
                                                    <label for="icomer_phone">Teléfono</label>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input placeholder="504-12345678" name="icomer_celphone" type="text"
                                                        class="validate">
                                                    <label for="icomer_celphone">Celular</label>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input name="vcomer_email" type="email" class="validate">
                                                    <label for="vcomer_email">Correo</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input placeholder="" name="vcomer_encargado" type="text"
                                                        class="validate">
                                                    <label for="vcomer_encargado">Nombre de Encargado</label>
                                                </div>
                                                <div class="input-field col s3">
                                                    <input name="icomer_ecelphone" type="text" class="validate">
                                                    <label for="icomer_ecelphone">Celular de Encargado</label>
                                                </div>

                                                <div class="row">
                                                    <div class="center input-field col s12">
                                                        <div class="teal-text subheader">Redes Sociales</div>
                                                        <div class="divider"></div>
                                                    </div>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input placeholder="www.ejemplo.com" name="vcomer_web" type="text"
                                                        class="validate">
                                                    <label for="vcomer_web">Pagina WEB</label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label>
                                                        <input name="bcomer_facebook" type="checkbox" />
                                                        <span>Facebook</span>
                                                    </label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label>
                                                        <input name="bcomer_instagram" type="checkbox" />
                                                        <span>Instagram</span>
                                                    </label>
                                                </div>

                                                <div class="input-field col s2">
                                                    <label>
                                                        <input name="bcomer_product" type="checkbox" />
                                                        <span>Productos</span>
                                                    </label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label>
                                                        <input name="bcomer_services" type="checkbox" />
                                                        <span>Servicios</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="center input-field col s12">
                                                    <div class="teal-text subheader">Horario de atención</div>
                                                    <div class="divider"></div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="row">
                                                    <div class=" col s2"><label class="orange-text">Lunes</label>
                                                        <input name="vcomer_laper" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_lcier" type="text" class="timepicker"
                                                            value="06:00 PM">
                                                    </div>
                                                    <div class="orange-text  col s2"><label
                                                            class="orange-text">Martes</label>
                                                        <input name="vcomer_maper" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_mcier" type="text" class="timepicker"
                                                            value="06:00 PM">
                                                    </div>
                                                    <div class="orange-text col s2"><label
                                                            class="orange-text">Miercoles</label>
                                                        <input name="vcomer_miaper" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_micier" type="text" class="timepicker"
                                                            value="06:00 PM">
                                                    </div>
                                                    <div class="orange-text col s2"><label
                                                            class="orange-text">Jueves</label>
                                                        <input name="vcomer_japer" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_jcier" type="text" class="timepicker"
                                                            value="06:00 PM">
                                                    </div>
                                                    <div class="orange-text col s2"><label
                                                            class="orange-text">Viernes</label>
                                                        <input name="vcomer_vaper" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_vcier" type="text" class="timepicker"
                                                            value="06:00 PM">
                                                    </div>
                                                    <div class="orange-text col s1"><label
                                                            class="orange-text">Sabado</label>
                                                        <input name="vcomer_saper" type="text" class="timepicker"
                                                            value="08:00 AM">
                                                        <input name="vcomer_scier" type="text" class="timepicker"
                                                            value="12:00 PM">
                                                    </div>
                                                    <div class="orange-text col s1"><label
                                                            class="orange-text">Domingo</label>
                                                        <input name="vcomer_daper" type="text" class="timepicker">
                                                        <input name="vcomer_dcier" type="text" class="timepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <a id="next1" class="waves-effect waves-light btn"><i
                                                    class="material-icons right">keyboard_arrow_right</i>SIGUIENTE</a>
                                        </div>


                                    </div>
                                    <div id="step2" class="step hide">
                                        <div class="row">
                                            <div class="col s6">
                                                <div class="input-field col s4">
                                                    <select name="vcom_depto" class="browser-default">
                                                        <option value="">Seleccione Departamento</option>
                                                        <option selected value="1">Comayagua</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4">
                                                    <select name="vcomer_ciudad" class="browser-default">
                                                        <option value="">Seleccione Ciudad</option>
                                                        <option selected value="1">Siguatepeque</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4">
                                                    <select name="vcomer_barrio" class="browser-default">
                                                        <option value="">Seleccione Barrio</option>
                                                        <option value="1">Option 1</option>
                                                        <option value="2">Option 2</option>
                                                        <option value="3">Option 3</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4">
                                                    <select name="vcomer_urbrur" class="browser-default">
                                                        <option value="">Urbano/Rural</option>
                                                        <option value="1">Urbano</option>
                                                        <option value="2">Rural</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s4">
                                                    <input disabled name="vcomer_coord" type="text" class="validate">
                                                    <label for="vcomer_coord">Coordenadas</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea name="vcomer_dir" name="textarea1"
                                                        class="materialize-textarea"></textarea>
                                                    <label for="textarea1">Dirección</label>
                                                </div>
                                            </div>
                                            <div class="col s6">
                                                <div id="map" class="map col s12"></div>
                                            </div>


                                        </div>
                                        <a id="previous2" class="waves-effect waves-light btn"><i
                                                class="material-icons left">keyboard_arrow_left</i>ANTERIOR</a>
                                        <a id="next2" class="waves-effect waves-light btn"><i
                                                class="material-icons right">keyboard_arrow_right</i>SIGUIENTE</a>
                                    </div>
                                    <div id="step3" class="step hide">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label>Observaciones</label>
                                                <input name="vcomer_observ" type="text" class="validate">
                                            </div>
                                            <div class="input-field col s6">
                                                <dic name="vcomer_tagsdg" class="chips chips-placeholder"></dic>

                                            </div>
                                            <div class="input-field col s6">
                                                <label>
                                                    <input name="vcomer_notify" type="checkbox" />
                                                    <span>Recibir notificacion.</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>Foto</span>
                                                <input name="vcomer_photo" type="file" multiple>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text"
                                                    placeholder="Cargar Foto del Negocio">
                                            </div>
                                        </div>
                                        <a id="previous3" class="waves-effect waves-light btn"><i
                                                class="material-icons left">keyboard_arrow_left</i>ANTERIOR</a>
                                        <button type="submit" id="finish" class="waves-effect waves-light btn"><i
                                                class="material-icons right">done_all</i>VALIDAR</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/js/adddcomer.js"></script>
    <script type="text/javascript" src="/js/mapa.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1FagaVUKZ2J0dVLpLZPRYwakAcnmwGUw&callback=initMap"
        defer></script>
    {{>footer}}

    <script type="text/javascript" src="/assets/observador.js"></script>