<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/img/wave.png ">
            </div>
            <a href="#perfil"><img class="circle" src="/img/avatar.svg"></a>
            <a href="#name"><span class="black-text name">Usuario</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">dashboard</i>AFIAPP</a></li>
    <li class="center"></h4>APLICACION DE AFILIACIÓN</h4></li>
    <div class="divider"></div>

    <li><a class='dropdown-trigger secondaru' href='#' data-target='dropdown-comer'>Afiliacion<i class="material-icons right">business_center</i>  <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><div class="divider"></div></li>
    <li><a class='dropdown-trigger' href='#' data-target='dropdown-report'>Reporte<i class="material-icons right">import_export</i>   <i class="material-icons right">arrow_drop_down</i></a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class='' href='/perfil'> <i class="material-icons right">person</i>Perfil</a></li>
    <li><a class='' onclick="cerrar_usuario()"><i class="material-icons right">exit_to_app</i>Salir</a></li>

</ul>

<!-- Dropdown Structure -->
<ul id='dropdown-comer' class='dropdown-content'>
    <li><a class="subheader">Afiliación</a></li>
    <li><a class="" href="/registercomer">Agregar Establecimiento</a></li>
    <li><a class="" href="/cdiario">Cierre de dia</a></li>
    <li><a class="" href="bcomer">Buscar</a></li>
</ul>
<!-- Dropdown Structure -->

<ul id='dropdown-report' class='dropdown-content'>
        <li><a class="subheader">Reporte</a></li>
    <li><a class="" href="/report">Generar Reportes</a></li>
</ul>

<div class="main">
    <a href="#" data-target="slide-out" class="sidenav-trigger "><i style="padding: 20px 20px 5px 20px;" class="material-icons teal-text Medium">menu</i> </a>
</div>


