<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a href="/perfil" class="btn-floating orange"><i class="material-icons">person</i>Perfil</a></li>
    </ul>
</div>